*{
    font-family: prompt,sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    max-width: 100vw;

}

main{
    display: flex;
    flex-direction: column;

}

.nav-container{
    width: 100%;
    font-size: .8rem;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
}
.navbar{
    display: flex;
    background: darkblue;
    height: 53px;
    width: 100%;
    padding: 0.1em;
}

.logo{
    width: 30%;
    padding: 0.5;
    padding-left: none;
    margin-left: none;
}

.menu{
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: row;
    padding-top: 0.9em;
}

li{
    list-style-type: none;
    color: #efc2b3;
    margin-left: 0.1em ;
    padding: 0.5em;
    border-left: 0.3em;
}


.cover{
    width: 100%;
    display: flex;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.coverText{
    z-index: 1;
    color: #efc2b3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#coverPic{
    width: 100%;
    z-index: 0;
    top: 0.5px;
    left: 0.5px;
}

.downward-indicator{
    z-index: 1;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.divider{
    position: relative;
    height: 10%;
    width: 100%;
}

.product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

#mini-console,#audio-console, #photo-console, #video-console{
    width: 100%;
}

.sample{
    width: 45%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.text-section{
    display: flex;
    flex-direction: row;
}

.product-name{
    margin-right: auto;
}

.product-price{
    margin-left: auto;
}

.description{
    margin-top: 0.1em;
    margin-bottom: 0.9em;
}