*{
    font-family: prompt,sans-serif;
}

.nav{
    width: 100%;
    padding: 15px;

}
.navbar{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: darkblue;
    height: 53px;
    width: 100%;
    padding: 0.1em;
}

.fixed{
    position: absolute;
}

.logo{
    background: #efc2b3 !important;
    color: #efc2b3;
}

li{
    list-style-type: none;
    color: #efc2b3;
}